<div class="bg-primary">
	<div class="container container-fluid">
		<div class="d-flex flex-row align-items-center justify-content-center" style="min-height: 100vh; height: 100vh">
			<div class="card" style="max-width: 600px; width: 600px;">
				<div class="card-body d-flex flex-column align-items-center">
					{{#if isSuccess}}
						<div class="w-100 mb-3 text-center text-success">
							<i class="fas fa-user-check" style="font-size: 4rem;"></i>
						</div>
					{{else}}
						<div class="w-100 mb-3 text-center text-danger">
							<i class="fas fa-exclamation-triangle" style="font-size: 4rem;"></i>
						</div>
					{{/if}}

					{{#if isSuccess}}
						<h4 class="card-title text-center">Kích hoạt thành công</h4>
						<p class="mb-3">Hệ thống sẽ chuyển về trang đăng nhập sau</p>
						<p class="fw-bold fs-4 text-primary mb-3" data-timeout={{redirectTimeout}} id="timeout"></p>

						<a type="button" id="redirect-link" class="btn btn-primary" href={{next}}>
							Quay về trang đăng nhập
						</a>
					{{else}}
						<h4 class="card-title text-center">Mã kích hoạt không hợp lệ hoặc hết hạn</h4>
					{{/if}}
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	document.title = "Kích hoạt tài khoản";
	const timeout = $("#timeout").data("timeout");
	let max = Math.round(timeout / 1000);

	let intervalId = setInterval(() => {
		$("#timeout").text(`${max}s`);
		if (max === 0) {
			clearInterval(intervalId);
			window.location.href = $("#redirect-link").attr("href")
			return;
		}
		max--;
	}, 1000);
</script>
