<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Online Auction - 500</title>

        <link rel="icon" type="image/png" href="/images/auction.png" />

        <!-- Font Awesome -->
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            rel="stylesheet"
        />
        <!-- Google Fonts -->
        <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
        />
        <!-- MDB -->
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.css"
            rel="stylesheet"
        />
    </head>
    <body>
        <main class="mt-4">
            <div class="container">

                <!--Section: Content-->
                <section class="px-md-5 mx-md-5 text-center dark-grey-text mb-4">
                    <img
                        src="https://i.ibb.co/JC8xJvY/500.jpg"
                        alt="Error 500"
                        class="img-fluid mb-4"
                    />

                    <h3 class="font-weight-bold mb-3">
                        Oops! Sorry, something went wrong here
                    </h3>

                    <p>We appologise and are trying to fix this problem. Please try again latter</p>
                </section>
                <!--Section: Content-->

            </div>
        </main>
    </body>
</html>
