<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {{{_sections.docTitle}}}

        {{{_sections.css}}}

        <!-- Font Awesome -->
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
            rel="stylesheet"
        />
        <!-- Google Fonts -->
        <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
        />
        <!-- MDB -->
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.css"
            rel="stylesheet"
        />

        <!-- MDB -->
        <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.js"
        ></script>
        <!-- Development version -->

        <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>

        {{!-- Sweetalert2 --}}
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        {{{_sections.preJs}}}
    </head>
    <body>
        {{{body}}}
        <div class="custom-modal-backdrop"></div>
    </body>

    {{{_sections.js}}}

	<script>
		$(document).ready(function () {
			$('[data-toggle="tooltip"]').tooltip();

			document.querySelectorAll(".form-outline").forEach((formOutline) => {
				new mdb.Input(formOutline).init();
			});

			document.querySelectorAll(`[data-mdb-toggle="tooltip"]`).forEach((t) => {
				new mdb.Tooltip(t, {
					container: "body",
					placement: "bottom",
				});
			});
		})
	</script>

</html>
