<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:o="urn:schemas-microsoft-com:office:office"
	style="width: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; padding: 0; margin: 0"
>
	<head>
		<meta charset="UTF-8" />
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<meta name="x-apple-disable-message-reformatting" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta content="telephone=no" name="format-detection" />
		<title>New message</title>
		<!--[if (mso 16)]>
			<style type="text/css">
				a {
					text-decoration: none;
				}
			</style>
		<![endif]-->
		<!--[if gte mso 9
			]><style>
				sup {
					font-size: 100% !important;
				}
			</style><!
		[endif]-->
		<!--[if gte mso 9]>
			<xml>
				<o:OfficeDocumentSettings>
					<o:AllowPNG></o:AllowPNG>
					<o:PixelsPerInch>96</o:PixelsPerInch>
				</o:OfficeDocumentSettings>
			</xml>
		<![endif]-->
		<!--[if !mso]><!-- -->
		<link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i" rel="stylesheet" />
		<!--<![endif]-->
		<style type="text/css">
			#outlook a { padding: 0; } .ExternalClass { width: 100%; } .ExternalClass, .ExternalClass p, .ExternalClass
			span, .ExternalClass font, .ExternalClass td, .ExternalClass div { line-height: 100%; } .es-button {
			mso-style-priority: 100 !important; text-decoration: none !important; } a[x-apple-data-detectors] { color:
			inherit !important; text-decoration: none !important; font-size: inherit !important; font-family: inherit
			!important; font-weight: inherit !important; line-height: inherit !important; } .es-desk-hidden { display:
			none; float: left; overflow: hidden; width: 0; max-height: 0; line-height: 0; mso-hide: all; } [data-ogsb]
			.es-button { border-width: 0 !important; padding: 15px 25px 15px 25px !important; } [data-ogsb]
			.es-button.es-button-1 { padding: 15px 30px !important; } @media only screen and (max-width: 600px) { p, ul
			li, ol li, a { line-height: 150% !important; } h1, h2, h3, h1 a, h2 a, h3 a { line-height: 120% !important;
			} h1 { font-size: 30px !important; text-align: center; } h2 { font-size: 26px !important; text-align:
			center; } h3 { font-size: 20px !important; text-align: center; } .es-header-body h1 a, .es-content-body h1
			a, .es-footer-body h1 a { font-size: 30px !important; } .es-header-body h2 a, .es-content-body h2 a,
			.es-footer-body h2 a { font-size: 26px !important; } .es-header-body h3 a, .es-content-body h3 a,
			.es-footer-body h3 a { font-size: 20px !important; } .es-menu td a { font-size: 16px !important; }
			.es-header-body p, .es-header-body ul li, .es-header-body ol li, .es-header-body a { font-size: 16px
			!important; } .es-content-body p, .es-content-body ul li, .es-content-body ol li, .es-content-body a {
			font-size: 16px !important; } .es-footer-body p, .es-footer-body ul li, .es-footer-body ol li,
			.es-footer-body a { font-size: 16px !important; } .es-infoblock p, .es-infoblock ul li, .es-infoblock ol li,
			.es-infoblock a { font-size: 12px !important; } *[class="gmail-fix"] { display: none !important; }
			.es-m-txt-c, .es-m-txt-c h1, .es-m-txt-c h2, .es-m-txt-c h3 { text-align: center !important; } .es-m-txt-r,
			.es-m-txt-r h1, .es-m-txt-r h2, .es-m-txt-r h3 { text-align: right !important; } .es-m-txt-l, .es-m-txt-l
			h1, .es-m-txt-l h2, .es-m-txt-l h3 { text-align: left !important; } .es-m-txt-r img, .es-m-txt-c img,
			.es-m-txt-l img { display: inline !important; } .es-button-border { display: block !important; }
			a.es-button, button.es-button { font-size: 20px !important; display: block !important; border-width: 15px
			25px 15px 25px !important; } .es-btn-fw { border-width: 10px 0px !important; text-align: center !important;
			} .es-adaptive table, .es-btn-fw, .es-btn-fw-brdr, .es-left, .es-right { width: 100% !important; }
			.es-content table, .es-header table, .es-footer table, .es-content, .es-footer, .es-header { width: 100%
			!important; max-width: 600px !important; } .es-adapt-td { display: block !important; width: 100% !important;
			} .adapt-img { width: 100% !important; height: auto !important; } .es-m-p0 { padding: 0px !important; }
			.es-m-p0r { padding-right: 0px !important; } .es-m-p0l { padding-left: 0px !important; } .es-m-p0t {
			padding-top: 0px !important; } .es-m-p0b { padding-bottom: 0 !important; } .es-m-p20b { padding-bottom: 20px
			!important; } .es-mobile-hidden, .es-hidden { display: none !important; } tr.es-desk-hidden,
			td.es-desk-hidden, table.es-desk-hidden { width: auto !important; overflow: visible !important; float: none
			!important; max-height: inherit !important; line-height: inherit !important; } tr.es-desk-hidden { display:
			table-row !important; } table.es-desk-hidden { display: table !important; } td.es-desk-menu-hidden {
			display: table-cell !important; } .es-menu td { width: 1% !important; } table.es-table-not-adapt,
			.esd-block-html table { width: auto !important; } table.es-social { display: inline-block !important; }
			table.es-social td { display: inline-block !important; } .es-desk-hidden { display: table-row !important;
			width: auto !important; overflow: visible !important; max-height: inherit !important; } }
		</style>
	</head>
	<body
		style="
			width: 100%;
			-webkit-text-size-adjust: 100%;
			-ms-text-size-adjust: 100%;
			font-family: lato, 'helvetica neue', helvetica, arial, sans-serif;
			padding: 0;
			margin: 0;
		"
	>
		<div class="es-wrapper-color" style="background-color: #f4f4f4">
			<!--[if gte mso 9]>
				<v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
					<v:fill type="tile" color="#f4f4f4"></v:fill>
				</v:background>
			<![endif]-->
			<table
				class="es-wrapper"
				width="100%"
				cellspacing="0"
				cellpadding="0"
				style="
					mso-table-lspace: 0pt;
					mso-table-rspace: 0pt;
					border-collapse: collapse;
					border-spacing: 0px;
					padding: 0;
					margin: 0;
					width: 100%;
					height: 100%;
					background-repeat: repeat;
					background-position: center top;
					background-color: #f4f4f4;
				"
			>
				<tr class="gmail-fix" height="0" style="border-collapse: collapse">
					<td style="padding: 0; margin: 0">
						<table
							cellspacing="0"
							cellpadding="0"
							border="0"
							align="center"
							style="
								mso-table-lspace: 0pt;
								mso-table-rspace: 0pt;
								border-collapse: collapse;
								border-spacing: 0px;
								width: 600px;
							"
						>
							<tr style="border-collapse: collapse">
								<td
									cellpadding="0"
									cellspacing="0"
									border="0"
									style="padding: 0; margin: 0; line-height: 1px; min-width: 600px"
									height="0"
								>
									<img
										src="https://ylifji.stripocdn.email/content/guids/CABINET_837dc1d79e3a5eca5eb1609bfe9fd374/images/41521605538834349.png"
										style="
											display: block;
											border: 0;
											outline: none;
											text-decoration: none;
											-ms-interpolation-mode: bicubic;
											max-height: 0px;
											min-height: 0px;
											min-width: 600px;
											width: 600px;
										"
										alt
										width="600"
										height="1"
									/>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr style="border-collapse: collapse">
					<td valign="top" style="padding: 0; margin: 0">
						<table
							class="es-header"
							cellspacing="0"
							cellpadding="0"
							align="center"
							style="
								mso-table-lspace: 0pt;
								mso-table-rspace: 0pt;
								border-collapse: collapse;
								border-spacing: 0px;
								table-layout: fixed !important;
								width: 100%;
								background-color: #ffa73b;
								background-repeat: repeat;
								background-position: center top;
							"
						>
							<tr style="border-collapse: collapse">
								<td align="center" style="padding: 0; margin: 0">
									<table
										class="es-header-body"
										cellspacing="0"
										cellpadding="0"
										align="center"
										style="
											mso-table-lspace: 0pt;
											mso-table-rspace: 0pt;
											border-collapse: collapse;
											border-spacing: 0px;
											background-color: transparent;
											width: 600px;
										"
									>
										<tr style="border-collapse: collapse">
											<td
												align="left"
												style="
													margin: 0;
													padding-bottom: 10px;
													padding-left: 10px;
													padding-right: 10px;
													padding-top: 20px;
												"
											>
												<table
													width="100%"
													cellspacing="0"
													cellpadding="0"
													style="
														mso-table-lspace: 0pt;
														mso-table-rspace: 0pt;
														border-collapse: collapse;
														border-spacing: 0px;
													"
												>
													<tr style="border-collapse: collapse">
														<td
															valign="top"
															align="center"
															style="padding: 0; margin: 0; width: 580px"
														>
															<table
																width="100%"
																cellspacing="0"
																cellpadding="0"
																role="presentation"
																style="
																	mso-table-lspace: 0pt;
																	mso-table-rspace: 0pt;
																	border-collapse: collapse;
																	border-spacing: 0px;
																"
															>
																<tr style="border-collapse: collapse">
																	<td align="center" style="padding: 0; margin: 0">
																		<p
																			style="
																				margin: 0;
																				-webkit-text-size-adjust: none;
																				-ms-text-size-adjust: none;
																				mso-line-height-rule: exactly;
																				font-family: lato, 'helvetica neue',
																					helvetica, arial, sans-serif;
																				line-height: 108px;
																				color: #ffffff;
																				font-size: 72px;
																			"
																		>
																			<strong>H2A</strong>
																		</p>
																	</td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
											</td>
										</tr>
										<tr style="border-collapse: collapse">
											<td align="left" style="padding: 0; margin: 0">
												<table
													cellpadding="0"
													cellspacing="0"
													width="100%"
													style="
														mso-table-lspace: 0pt;
														mso-table-rspace: 0pt;
														border-collapse: collapse;
														border-spacing: 0px;
													"
												>
													<tr style="border-collapse: collapse">
														<td
															align="center"
															valign="top"
															style="padding: 0; margin: 0; width: 600px"
														>
															<table
																cellpadding="0"
																cellspacing="0"
																width="100%"
																role="presentation"
																style="
																	mso-table-lspace: 0pt;
																	mso-table-rspace: 0pt;
																	border-collapse: collapse;
																	border-spacing: 0px;
																"
															>
																<tr style="border-collapse: collapse">
																	<td
																		align="left"
																		bgcolor="#fff"
																		style="padding: 0; margin: 0"
																	>
																		<p
																			style="
																				margin: 0;
																				-webkit-text-size-adjust: none;
																				-ms-text-size-adjust: none;
																				mso-line-height-rule: exactly;
																				font-family: lato, 'helvetica neue',
																					helvetica, arial, sans-serif;
																				line-height: 21px;
																				color: #666666;
																				font-size: 14px;
																			"
																		>
																			<br />
																		</p>
																	</td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						<table
							class="es-content"
							cellspacing="0"
							cellpadding="0"
							align="center"
							style="
								mso-table-lspace: 0pt;
								mso-table-rspace: 0pt;
								border-collapse: collapse;
								border-spacing: 0px;
								table-layout: fixed !important;
								width: 100%;
							"
						>
							<tr style="border-collapse: collapse">
								<td align="center" style="padding: 0; margin: 0">
									<table
										class="es-content-body"
										style="
											mso-table-lspace: 0pt;
											mso-table-rspace: 0pt;
											border-collapse: collapse;
											border-spacing: 0px;
											background-color: transparent;
											width: 600px;
										"
										cellspacing="0"
										cellpadding="0"
										align="center"
									>
										<tr style="border-collapse: collapse">
											<td align="left" style="padding: 0; margin: 0">
												<table
													width="100%"
													cellspacing="0"
													cellpadding="0"
													style="
														mso-table-lspace: 0pt;
														mso-table-rspace: 0pt;
														border-collapse: collapse;
														border-spacing: 0px;
													"
												>
													<tr style="border-collapse: collapse">
														<td
															valign="top"
															align="center"
															style="padding: 0; margin: 0; width: 600px"
														>
															<table
																style="
																	mso-table-lspace: 0pt;
																	mso-table-rspace: 0pt;
																	border-collapse: separate;
																	border-spacing: 0px;
																	border-radius: 4px;
																	background-color: #ffffff;
																"
																width="100%"
																cellspacing="0"
																cellpadding="0"
																bgcolor="#ffffff"
																role="presentation"
															>
																<tr style="border-collapse: collapse">
																	<td
																		class="es-m-txt-l"
																		bgcolor="#ffffff"
																		align="left"
																		style="
																			margin: 0;
																			padding-top: 20px;
																			padding-bottom: 20px;
																			padding-left: 30px;
																			padding-right: 30px;
																		"
																	>
																		<p
																			style="
																				margin: 0;
																				-webkit-text-size-adjust: none;
																				-ms-text-size-adjust: none;
																				mso-line-height-rule: exactly;
																				font-family: arial, 'helvetica neue',
																					helvetica, sans-serif;
																				line-height: 27px;
																				color: #666666;
																				font-size: 18px;
																			"
																		>
																			<strong><span style="font-size: 22px">Chào
																					mừng bạn đến với nhóm
																					{{groupName}}<br
																					/></span></strong><br />Xin chào
																			{{userDisplayName}},<br /><br />Chúng tôi
																			rất vui khi bạn tin tưởng và bắt đầu với hệ
																			thống của chúng tôi. Đây là đường dẫn đến
																			nhóm của bạn, nhấn vào nút bên dưới để truy
																			cập nhóm.
																		</p>
																	</td>
																</tr>
																<tr style="border-collapse: collapse">
																	<td
																		align="center"
																		style="
																			padding: 0;
																			margin: 0;
																			padding-left: 10px;
																			padding-right: 10px;
																		"
																	>
																		<!--[if mso
																			]><a
																				href="https://viewstripo.email/"
																				target="_blank"
																				hidden
																			>
																				<v:roundrect
																					xmlns:v="urn:schemas-microsoft-com:vml"
																					xmlns:w="urn:schemas-microsoft-com:office:word"
																					esdevVmlButton
																					href="https://viewstripo.email/"
																					style="
																						height: 54px;
																						v-text-anchor: middle;
																						width: 234px;
																					"
																					arcsize="4%"
																					strokecolor="#ffa73b"
																					strokeweight="1px"
																					fillcolor="#ffa73b"
																				>
																					<w:anchorlock></w:anchorlock>
																					<center
																						style="
																							color: #ffffff;
																							font-family: helvetica,
																								'helvetica neue', arial,
																								verdana, sans-serif;
																							font-size: 20px;
																							font-weight: 400;
																							line-height: 20px;
																							mso-text-raise: 1px;
																						"
																					>
																						Kích hoạt tài khoản
																					</center>
																				</v:roundrect></a
																			> <!
																		[endif]--><!--[if !mso]><!-- --><span
																			class="msohide es-button-border"
																			style="
																				border-style: solid;
																				border-color: #ffa73b;
																				background: 1px;
																				border-width: 1px;
																				display: inline-block;
																				border-radius: 2px;
																				width: auto;
																				mso-hide: all;
																			"
																		><a
																				href="{{invitationLink}}"
																				class="es-button es-button-1"
																				target="_blank"
																				style="
																					mso-style-priority: 100 !important;
																					text-decoration: none;
																					-webkit-text-size-adjust: none;
																					-ms-text-size-adjust: none;
																					mso-line-height-rule: exactly;
																					color: #ffffff;
																					font-size: 20px;
																					border-style: solid;
																					border-color: #ffa73b;
																					border-width: 15px 30px;
																					display: inline-block;
																					background: #ffa73b;
																					border-radius: 2px;
																					font-family: helvetica,
																						'helvetica neue', arial, verdana,
																						sans-serif;
																					font-weight: normal;
																					font-style: normal;
																					line-height: 24px;
																					width: auto;
																					text-align: center;
																				"
																			>Truy cập nhóm</a></span><!--<![endif]-->
																	</td>
																</tr>
																<tr style="border-collapse: collapse">
																	<td
																		class="es-m-txt-l"
																		align="left"
																		style="
																			padding: 0;
																			margin: 0;
																			padding-top: 20px;
																			padding-left: 30px;
																			padding-right: 30px;
																		"
																	>
																		<p
																			style="
																				margin: 0;
																				-webkit-text-size-adjust: none;
																				-ms-text-size-adjust: none;
																				mso-line-height-rule: exactly;
																				font-family: arial, 'helvetica neue',
																					helvetica, sans-serif;
																				line-height: 27px;
																				color: #666666;
																				font-size: 18px;
																			"
																		>
																			Nếu nút kích hoạt không hoạt động, bạn có
																			thể nhấn vào liên kết dưới đây.
																		</p>
																	</td>
																</tr>
																<tr style="border-collapse: collapse">
																	<td
																		class="es-m-txt-l"
																		align="left"
																		style="
																			padding: 0;
																			margin: 0;
																			padding-top: 20px;
																			padding-left: 30px;
																			padding-right: 30px;
																		"
																	>
																		<a
																			target="_blank"
																			href="{{invitationLink}}"
																			style="
																				-webkit-text-size-adjust: none;
																				-ms-text-size-adjust: none;
																				mso-line-height-rule: exactly;
																				text-decoration: underline;
																				color: #ffa73b;
																				font-size: 18px;
																				font-family: arial, 'helvetica neue',
																					helvetica, sans-serif;
																				word-break: break-all;
																			"
																		>{{shortenInvitationLink}}</a>
																	</td>
																</tr>
																<tr style="border-collapse: collapse">
																	<td
																		class="es-m-txt-l"
																		align="left"
																		style="
																			padding: 0;
																			margin: 0;
																			padding-top: 20px;
																			padding-left: 30px;
																			padding-right: 30px;
																		"
																	>
																		<p
																			style="
																				margin: 0;
																				-webkit-text-size-adjust: none;
																				-ms-text-size-adjust: none;
																				mso-line-height-rule: exactly;
																				font-family: arial, 'helvetica neue',
																					helvetica, sans-serif;
																				line-height: 27px;
																				color: #666666;
																				font-size: 18px;
																			"
																		>
																			Nếu gặp bất cứ khó khăn gì với việc truy cập nhóm, bạn có thể phản hồi email này, chúng
																			tôi luôn sẵn sàng hỗ trợ bạn.<br />
																		</p>
																	</td>
																</tr>
																<tr style="border-collapse: collapse">
																	<td
																		class="es-m-txt-l"
																		align="left"
																		style="
																			margin: 0;
																			padding-top: 20px;
																			padding-left: 30px;
																			padding-right: 30px;
																			padding-bottom: 40px;
																		"
																	>
																		<p
																			style="
																				margin: 0;
																				-webkit-text-size-adjust: none;
																				-ms-text-size-adjust: none;
																				mso-line-height-rule: exactly;
																				font-family: arial, 'helvetica neue',
																					helvetica, sans-serif;
																				line-height: 27px;
																				color: #666666;
																				font-size: 18px;
																			"
																		>
																			Cảm ơn,
																		</p>
																		<p
																			style="
																				margin: 0;
																				-webkit-text-size-adjust: none;
																				-ms-text-size-adjust: none;
																				mso-line-height-rule: exactly;
																				font-family: arial, 'helvetica neue',
																					helvetica, sans-serif;
																				line-height: 27px;
																				color: #666666;
																				font-size: 18px;
																			"
																		>
																			H2A Team
																		</p>
																	</td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						<table
							class="es-content"
							cellspacing="0"
							cellpadding="0"
							align="center"
							style="
								mso-table-lspace: 0pt;
								mso-table-rspace: 0pt;
								border-collapse: collapse;
								border-spacing: 0px;
								table-layout: fixed !important;
								width: 100%;
							"
						>
							<tr style="border-collapse: collapse">
								<td align="center" style="padding: 0; margin: 0">
									<table
										class="es-content-body"
										style="
											mso-table-lspace: 0pt;
											mso-table-rspace: 0pt;
											border-collapse: collapse;
											border-spacing: 0px;
											background-color: transparent;
											width: 600px;
										"
										cellspacing="0"
										cellpadding="0"
										align="center"
									>
										<tr style="border-collapse: collapse">
											<td
												align="left"
												style="
													margin: 0;
													padding-left: 20px;
													padding-right: 20px;
													padding-top: 30px;
													padding-bottom: 30px;
												"
											>
												<table
													width="100%"
													cellspacing="0"
													cellpadding="0"
													style="
														mso-table-lspace: 0pt;
														mso-table-rspace: 0pt;
														border-collapse: collapse;
														border-spacing: 0px;
													"
												>
													<tr style="border-collapse: collapse">
														<td
															valign="top"
															align="center"
															style="padding: 0; margin: 0; width: 560px"
														>
															<table
																width="100%"
																cellspacing="0"
																cellpadding="0"
																role="presentation"
																style="
																	mso-table-lspace: 0pt;
																	mso-table-rspace: 0pt;
																	border-collapse: collapse;
																	border-spacing: 0px;
																"
															>
																<tr style="border-collapse: collapse">
																	<td
																		class="es-infoblock made_with"
																		align="center"
																		style="
																			padding: 0;
																			margin: 0;
																			line-height: 120%;
																			font-size: 0;
																			color: #cccccc;
																		"
																	>
																		<a
																			target="_blank"
																			href="https://viewstripo.email/?utm_source=templates&utm_medium=email&utm_campaign=software2&utm_content=trigger_newsletter"
																			style="
																				-webkit-text-size-adjust: none;
																				-ms-text-size-adjust: none;
																				mso-line-height-rule: exactly;
																				text-decoration: underline;
																				color: #cccccc;
																				font-size: 12px;
																			"
																		><img
																				src="https://ylifji.stripocdn.email/content/guids/CABINET_9df86e5b6c53dd0319931e2447ed854b/images/64951510234941531.png"
																				alt
																				width="125"
																				style="
																					display: block;
																					border: 0;
																					outline: none;
																					text-decoration: none;
																					-ms-interpolation-mode: bicubic;
																				"
																			/></a>
																	</td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>
